# Postgres Config
POSTGRES_HOST=postgres
POSTGRES_DB=opengrants
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432      # internal Docker network
# Host port for external tools
HOST_POSTGRES_PORT=5433


# DLT + DuckDB Config
# DAGSTER_HOME=/app # for docker container
DUCKDB_PATH=/data/duckdb/gold_layer.db
DLT_DEFAULT_DESTINATION__TYPE=duckdb
DLT_DEFAULT_DESTINATION__CREDENTIALS=duckdb:///data/duckdb/gold_layer.db


# Default for local development
DAGSTER_HOME=og_dagster
DUCKDB_CACHE_PATH=duckdb/data/local.duckdb
DBT_LOG_PATH=./dbt_project/logs/dbt.log
DBT_PROFILES_DIR=./dbt_project
DBT_PROJECT_DIR=./dbt_project