# Base
dlt
dagster
dagster-webserver
dagster-dbt
dagster-postgres
dbt-core
dbt-postgres
dbt-duckdb
duckdb
psycopg2-binary
sqlalchemy
python-dotenv
polars
connectorx
pyarrow>=8.0.0
yamale
Web3

# Linters
ruff
black
mypy

# Optional / Dev
pandas
requests
